<nav>
    <ul class="nav">
        <li class="nav-item">
            <a href="../" class="nav-item_link">Inicio</a>
        </li>
        <li class="nav-item">
            <a href="/agregar" class="nav-item_link">Agregar</a>
        </li>
        <li class="nav-item">
            <a href="/nosotros" class="nav-item_link">Nosotros</a>
        </li>
        <li class="nav-item">
            <a href="/contacto" class="nav-item_link">Contacto</a>
        </li>
    </ul>
</nav>